{% extends 'base.html' %} {%block title%}Home Page{%endblock%} {% block
content%}
<h1 class="header">Welcome to the Survey</h1>
<h2 class="secondheader">Select a survey</h2>
<div class="inputContainer">
  <form action="/session", method="POST">
    <label>Surveys:</label>
    <select name="survey">
      {%for surveyname in surveys%}
      <option value="{{surveyname}}">{{surveyname}}</option>
      {%endfor%}
    </select>
    <br />
    <br />
    <button class="btn">Submit</button>
  </form>
</div>
{% endblock %}
