{% extends 'base.html' %} 
{%block title%}Survey Questions{%endblock%} 
{% block content%}
<h1 class="header">Question</h1>
<h2 class="secondheader">{{question}}</h2>
<form action="/answer" , method="POST">
  {%for choice in choices%}
  <div class="inputContainer">
    <input
      type="radio"
      name="answer",
      value="{{choice}}",
      class="input"
      required
    />{{choice}} {%endfor%} {%if text_box%}
    <input type="text" name="answer" required/>
    {%endif%}
  </div>
  <br />
  <button class="btn">Next Question</button>
</form>
<h3>{{choice}}</h3>
{% endblock %}
